name: lint
on:
  push:
    branches: [ main ]
    paths:
      - 'scripts/**'
      - 'config/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'scripts/**'
      - 'config/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        node-version-file: '.nvmrc'
    - run: npm ci
    - run: npm run lint
      env:
        GITHUB_TOKEN: ${{ github.token }}
        TERM: xterm-256color