# This is a basic workflow to help you get started with Actions

name: Reorder

on:
  workflow_dispatch:

jobs:
  run:
    name: reorder
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.CONFS_REORDER }}
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm ci
      - name: Reorder conferences
        run: npm run reorder-confs
      - name: Reorder valid locations
        run: npm run updateValidLocations
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: Confs.tech Reorder Bot
          author_email: cgrail@users.noreply.github.com
          message: 'Reorder conferences'
          add: "['*.json']"
