name: Validate conferences

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: '.nvmrc'
    - run: npm ci
    - run: npm test
      env:
        GITHUB_TOKEN: ${{ github.token }}
        TERM: xterm-256color
